/* CSS is written in rules 
each rule consists of a selector and declarations box */

/* remove default values
create rules that affect all elements on the webpage using asterisk selector  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* since everything is in the body, rules here will apply to all the content with no defined style
inheritance: we change properties in body, so children inside body inherit the style
unless we overide the styles in selector/declarations 
Global rule */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* repeating code is bad practice so group common code together */

h1, h2 {
    color: rgba(28, 189, 117, 0.832);

}

/* property is color and value is green */
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Class and ID selectors */

/* Using ids is not a good practice, because you can only use once
 It's best to use classes even if we use just once w/ specific name because this might change in future 
 and you might want to reuse */

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

/* Layout */

.container {
    /* screens are getting larger so we can make wider webpages */
    width: 1140px;
    /* center div: margins adjusted automatically according to context of element
    which is browser window in this case */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 20px; */
     /* shorthand for ^ */
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {

    padding: 20px;
    
    /* border property allows you to control 3 things: border width, line type and color */
    border-top: 1px solid rgb(142, 133, 133);
}

.author-box img {

    /* adjust size and shape of square image */
    height: 100px;
    width: 100px;
    /* make image round */
    border-radius: 50%;
    float: left;
}

/* Other blog posts */

.other {
    margin-bottom: 40px;
}

/* HTML5 and CSS3 image */

.blog-post img {
    /* to main aspect ratio of image make width auto */
    height: 150px;
    width: auto;
}